:host {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: lightblue;
  z-index: 99;
}

.header-wrap {
  margin: 0 auto;
  max-width: 1000px;
}

.header-brand {
  float: left;
  cursor: pointer;
}

.header-brand span {
  font-size: 24px;
  color: white;
  line-height: 50px;
  padding: 0 15px;
}

.header-links {
  float: right;
}

.header-links div {
  display: inline-block;
  padding: 0 15px;
  cursor: pointer;
}

.header-links div span {
  line-height: 50px;
  color: white;
}

@media (max-width: 748px) {
  .header-links {
    display: none;
  }
}
